*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: skyblue;
}
#main{
    height: 100%;
    width: 100%;
}
.card{
    height: 400px;
    width: 280px;
    border-style: solid ;
    border-width: 2px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
}
#card1{
    z-index: 4;
    transform: translate(-50%,-50%);
}
#card2{
    z-index: 3;
    transform: translate(-50%,-50%) rotate(7deg);
}
#card2:hover{
    z-index: 10;
}
#card3{
    z-index: 2;
    transform: translate(-50%,-50%) rotate(14deg);
    
}
#card3:hover{
    z-index: 10;
}
#card4{
    z-index: 1;
    transform: translate(-50%,-50%) rotate(21deg);
    
}
#card4:hover{
    z-index: 10;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1{
    text-align: center;
    color: navy;
    background-color: antiquewhite;
}
